.table-wrapper {
    overflow-x: auto;
}

table {
    min-width: 800px;
    width: 100%;
    table-layout: auto;
}

th,
td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.img-link,
.monitor-link {
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s, transform 0.3s;
    cursor: pointer;
}

.img-link::after,
.monitor-link::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #007bff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.img-link:hover::after,
.monitor-link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.img-link:hover,
.monitor-link:hover {
    color: #0056b3;
    transform: scale(1.1);
}

.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.progress-container div {
    width: 100%;
    margin: 0 -1px;
    /* Adjust margin to remove gaps between progress bars */
    position: relative;
}

.progress-container .progress {
    margin: 0;
    /* Remove margin from progress */
    border-radius: 0;
    /* Ensure no border radius on progress */
}

.progress-container .progress-bar {
    border-radius: 0;
    /* Ensure no border radius on progress-bar */
}

.tooltip-text {
    visibility: hidden;
    opacity: 0;
    width: 100px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -50px;
    transition: opacity 0.3s;
}

.tooltip-text::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.progress-container div:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    margin-bottom: 15px;
}

.alert.success {
    background-color: #4CAF50;
}

.alert.info {
    background-color: #2196F3;
}

.alert.warning {
    background-color: #ff9800;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.btn-warning {
    color: #fff;
    background-color: #ff8c00;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #fff;
}

.btn-warning:hover {
    color: #ff8c00;
    background-color: #fff;
    border: 2px solid #ff8c00;
}